<ion-header>
  <ion-toolbar>
    <ion-title> Lista de Filmes </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let filme of filmes">
      <ion-card-header> {{ filme.titulo }} </ion-card-header>
      <ion-card-content>
        <p><strong>Título:</strong> {{ filme.titulo }}</p>
        <p><strong>Diretor:</strong> {{ filme.diretor }}</p>
        <p><strong>Origem:</strong> {{ filme.origem }}</p>
        <p><strong>Cartaz:</strong> {{ filme.cartaz }}</p>
        <p><strong>Ano:</strong> {{ filme.ano }}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
